
/*Color Scheme
#937668 / rgb(147, 118, 104) - Brown Type
#AEFF93 / rgb(174, 255, 147) - Green Type
#FF7733 / rgb(255, 119, 51) - Orange Type Main
#3738CC / rgb(55, 56, 204) - Blue Type
#8A8AB2 / rgb(138, 138, 178) - Light Blue Grey
#21252B / rgb(33, 37, 43) - dark grey
#5D980F / rgb(93,152,15) - green
#f6f6f6 /
*/


* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

.nav {
  align-items: center;
  background-color: rgba(33, 37, 43, 1);
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  height: 60px;
  margin: 0;
  left: 0px;
  padding: 0 10px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav ul {
  list-style: none;
}

.nav-menu,
.nav-icon,
.nav-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
}

.nav-list {
  display: none;
}

.nav-menu li a,
.nav-icon li i,
.nav-icon li a,
.nav-search li {
  color: #fff;
  display: block;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.nav-search {
  width: 30%;
}

.nav-search li {
  width: 100%;
}

.nav-icon .menu-bar {
  cursor: pointer;
}

.nav-icon li i {
  line-height: 60px;
}

.nav-search li form input {
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.nav-menu a:hover,
.nav-icon li i:hover,
.nav-icon li a:hover {
  color: #FF7733;
}

.dropdown-menu {
  position: relative;
}

.dropdown-menu .dropdown-content-left {
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #eee;
  display: none;
  min-width: 160px;
  padding: 0;
  position: absolute;
  top: 60px;
  z-index: 1;
  left: 0;
}

.dropdown-menu .dropdown-content-right {
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #eee;
  display: none;
  min-width: 160px;
  padding: 0;
  position: absolute;
  top: 60px;
  z-index: 1;
  right: 0;
}

/* dropdown menu end */

.main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  padding: 80px 20px 5%;
  width: 100%;
}

.main-section
/*.demand-section*/ {
  border: 1px solid rgba(138, 138, 178, .75);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.main-section h3
/*.demand-section h3*/ {
  background-color: rgba(138, 138, 178, .25);
  border-bottom: 1px solid rgba(138, 138, 178, .75);
  padding-left: 10px;
}

.main-section h3 a,
.main-section h3 a:visited
/*.demand-section h3 a,
.demand-section h3 a:visited*/ {
  color: inherit;
  text-decoration: none;
}

.main-section h3 a:hover {
  /*color: rgb(138, 138, 178);*/
  color: rgb(55, 56, 204);
}

.main-section article
/*.demand-section article*/ {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 auto;
  padding: 20px;
}

.main-section article div {
  border: 1px solid rgba(93, 152, 15, .75);
  padding: 20px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

/* ----Breadcrumb Layout--------------------------*/
.main-breadcrumb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.main-breadcrumb article ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-breadcrumb article ul li {
  padding: 0 10px;
  font-size: 0.8em;
}


/* ----SEARCH Layout--------------------------*/



/* ----SEARCH Layout--------------------------*/

.search-section {
  border: 1px solid rgba(138, 138, 178, .75);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.search-section form {
  display: flex;
  flex-flow: column wrap;
  /*justify-content: center;*/
  align-items: center;
}

.search-section form .search-header {
  background-color: rgba(138, 138, 178, .2);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%
}

.search-section form .search-header div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.search-header div i {
  cursor: pointer;
}

.search-header div .fa-caret-right {
  display: none;
}

.search-section form .search-header button {
  background-color: rgba(33, 37, 43, 1);
  border-radius: 3px;
  color: #eee;
  font-size: 0.8em;
  margin-left: 10px;
}

.search-section form .search-header button:hover {
  cursor: pointer;
}

.search-section form .search-input {
  padding: 10px;
}

.search-footer {
  align-items: center;
  background-color: rgba(138, 138, 178, .2);
  display: flex;
  flex-flow: row wrap;
  height: 32.361px;
  justify-content: flex-end;
  padding: 0 10px;
  width: 100%;

}

.search-footer div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.search-footer div button {
  background-color: rgba(33, 37, 43, 1);
  border-radius: 3px;
  color: #eee;
  font-size: 0.8em;
  margin-left: 10px;
}


/* ------SEARCH END------------------------*/




/*--------- MODAL TEST --------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* MODAL TEST END */







/* Login Page */

.login {
  align-items: center;
  /*border: 5px solid firebrick;*/
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 5% 10% 20%;
}

.login section {
  align-items: center;
  border: 1px solid rgba(33, 37, 43, .75);
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  height: 250px
  justify-content: center;
  max-width: 450px;
  min-height: 196px;
/*  padding: 10px 0;*/
  width: 100%;
}

.login section h3 {
  background-color: rgb(33, 37, 43);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.login-form {
  /*border: 1px solid green;*/
  padding: 10px 10%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
}

.login-field {
  border-radius: 3px;
  width: 100%;
  display: block;
  padding: 5px 5%;
  margin-bottom: 10px;
}

.login-form button {
  background-color: rgba(138, 138, 178, .5);
  border-radius: 3px;
}

.login-form button:hover {
  background-color: rgba(255, 119, 51, .5);
}

.footer {
  background-color: rgba(33, 37, 43, 1);
  bottom: 0px;
  color: #fff;
  height: 30px;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer h6 {
  line-height: 10px;
  padding: 10px 0;
  vertical-align: middle;
}



/* Media Query */
@media (min-width: 770px) {

  .nav {
    /*justify-content: flex-start;*/
  }

  .nav .menu {
    display: unset;
  }

  .nav-icon .menu-bar {
    display: none;
  }

  /* menu test */
  .nav-list {
    display: unset;
  }

  .nav-menu,
  .nav-icon,
  .nav-search {
    /*position: relative;*/ /* dropdown test */
  }

  .nav-search {
    width: 20%;
  }

/* dropdown test */

  .dropdown-content-left li a,
  .dropdown-content-right li a {
    color: black;
    display: block;
    line-height: normal;
    padding: 15px 10px;
    text-decoration: none;
    text-align: left;
    width: 100%;
  }

  /* Change color of dropdown links on hover */

  .dropdown-content-left a:hover,
  .dropdown-content-right a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown-menu:hover .dropdown-content-left,
  .dropdown-menu:hover .dropdown-content-right {
    display: block;
  }


/* dropdown test */


  .main-section {
/*    display: flex;
    justify-content: space-around;*/
  }

  .main-section article {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .main-section article div {
    width: 30%;
    /*padding: 0;*/

  }
}

@media (min-width: 992px) {

  .nav {
    /*justify-content: flex-start;*/
    font-size: 1em;
    /*font-weight: bold;*/
  }


}

@media (min-width: 1200px) {

  /* menu test */
  .nav-list {
    display: unset;
  }*/


}

